@{
  ViewBag.Title = "Contact";
}

<div class="row">
  <div class="six columns">

    <p>
      Als u vragen of aan- en opmerkingen heeft kunt u die hier versturen. 
Indien het nodig is nemen wij dan contact met u op. 
Uw bericht zal natuurlijk vertrouwelijk behandeld worden.

Let op! Uw e-mail komt terecht bij de beheerder van de website, gebruik dit dus niet voor pastorale zaken.

Als u geen wachtwoord voor de website heeft, maar zich wel betrokken voelt bij onze gemeente 
kunt u contact op nemen met een van de oudsten. 
Zodra uw gegevens bij ons bekend zijn krijgt u een wachtwoord.
    </p>

    @if(!string.IsNullOrEmpty(ViewBag.Message as string))
    {
      <p class="message">@ViewBag.Message</p>
    }

    <form method="post" action="@Url.Action("SendMessage", "Index")">
    @if(ViewBag.CurrentUser != null)
    {
      <input type="text" name="afzender" value="@ViewBag.CurrentUser.Name" placeholder="uw naam" title="uw naam"></input>
      <input type="text" name="email" value="@ViewBag.CurrentUser.Email" placeholder="uw e-mail adres" title="uw e-mail adres"></input>
    }
    else
    {
      <input type="text" name="afzender" placeholder="uw naam" title="uw naam"></input>
      <input type="text" name="email" placeholder="uw e-mail adres" title="uw e-mail adres"></input>
    }

      <textarea name="bericht" class="message" placeholder="uw bericht" title="uw bericht"></textarea>

    <input type="submit" class="secondary small button" value="versturen"></input>
    <input type="hidden" name="referrer" value="@ViewBag.Referrer" />
    </form>

  </div>
</div>
