@using StackExchange.Profiling;
@using System.Globalization;

<div class="row banner">
  <div class="ten columns">
    <p>
      Onze gemeente wil een plek zijn waar <span class="large">God de Vader</span>, 
         
      <span class="large">Jezus Christus de Zoon</span> en de <span class="large">Heilige Geest</span> centraal staan. 
          Voel je thuis bij ons. 
    </p>
    <p>Wij hopen <span class="large">door Woord en Geest</span> dichter naar <span class="large">Jezus Christus</span> toe te groeien!</p>
  </div>
</div>

<div class="row zones">

  <div class="four columns agendacontainer">
    <div class="twelve columns agenda">
      <p class="titel"><a href="@Url.Action("Show", "Agenda")">agenda</a></p>
      <ul>
        @foreach(var item in ViewBag.CalendarItems)
        {
          <li>@item.What 
            <span title="@item.When.ToString("ddd d MMM H:mm", new CultureInfo("nl-NL")) uur - @item.Where">
              @item.When.ToString("ddd d MMM H:mm", new CultureInfo("nl-NL")) uur - @item.Where
            </span>
          </li>
        }
      </ul>
    </div>
  </div>

  <div class="four columns">
    <div class="foto slideshow">
      <img src="@Url.Content("~/Content/Photos/1.jpg")" />
      <img src="@Url.Content("~/Content/Photos/2.jpg")" />
      <img src="@Url.Content("~/Content/Photos/3.jpg")" />
      <img src="@Url.Content("~/Content/Photos/4.jpg")" />
      <img src="@Url.Content("~/Content/Photos/5.jpg")" />
      <img src="@Url.Content("~/Content/Photos/6.jpg")" />
      <img src="@Url.Content("~/Content/Photos/7.jpg")" />
      <img src="@Url.Content("~/Content/Photos/8.jpg")" />
      <img src="@Url.Content("~/Content/Photos/9.jpg")" />
    </div>
  </div>

  <div class="four columns">
    <div class="twelve columns frontpage">
      <p>De agendapunten automatisch in je digitale agenda? Voeg onze <a href="">agenda</a> toe.</p>
    </div>
    <div class="twelve columns frontpage">
      <p>Onze opnames automatisch downloaden? Je vindt ons in <a href="">itunes</a> of gebruik de <a href="">podcast</a> link.</p>
    </div>
    <div class="twelve columns frontpage">
      <p>Bezoek je onze jeugddiensten? Blijf op de hoogte op <a href="">facebook</a>.</p>
    </div>
  </div>

</div>

<div class="row map">
  <div class="twelve columns locaties">
    <p>Onze gemeente komt samen op twee locaties, in Baarn en Bunschoten. </p>
    <p>De samenkomsten zijn zondagmorgen om 9:45 uur.</p>
    <span title="Adelheidlaan 8, Baarn" class="baarn marker has-tip" data-width="150"></span>
    <span class="arrow baarn"></span>
    <span title="Oostwende college, Plecht 1, Bunschoten" class="bunschoten marker has-tip" data-width="150"></span>
    <span class="arrow bunschoten"></span>
  </div>
</div>
