@using StackExchange.Profiling;
@using System.Globalization;

<div class="row">

  <div class="twelve columns banner">
    <div>Onze gemeente wil een plek zijn waar</div>
    <div><span class="large">God de Vader</span>,</div>
    <div><span class="large">Jezus Christus de Zoon</span> </div>
    <div>en de <span class="large">Heilige Geest</span> centraal staan. </div>
  </div>
</div>

<div class="row aankondigingen">
  <div class="ten columns" id="banners">

    <div class="mannenweekend" style="display: block;">
      <p>Heb jij het ook wel eens niet meer op een rijtje?</p>
      <p>5 en 6 oktober 2012 | Het Brandpunt in Doorn | Men only - part 2</p>
    </div>

    <div class="studieweekend" style="display: none;">
      <p>"Dit gebied Ik u: dat u elkaar liefhebt."</p>
      <p>Studies door Aad van de Sande | 7, 8 en 9 september 2012 | <a href="@Url.Action("Show", "Agenda")">agenda</a></p>
    </div>

  </div>
</div>

<div class="row locatiessmall">
  <div class="twelve columns">
    <p>Onze gemeente komt samen op twee locaties. In Baarn op de Adelheidlaan 8 en in Bunschoten op Plecht 1 in het Oostwende college. De samenkomsten zijn zondagmorgen om 9:45 uur.</p>
  </div>
</div>

<div class="row zones">

  <div class="four columns agendacontainer">
    <div class="twelve columns agenda">
      <p class="titel"><a href="@Url.Action("Show", "Calendar")">wegwijzer</a></p>
      <ul>
        @foreach(var item in ViewBag.CalendarItems)
        {
          <li>@item.What.Substring(0, item.What.IndexOf(","))
            <span title="@item.When.ToString("ddd d MMM H:mm", new CultureInfo("nl-NL")) uur - @item.Where">
              @item.When.ToString("ddd d MMM H:mm", new CultureInfo("nl-NL")) uur - @item.Where
            </span>
          </li>
        }
      </ul>
    </div>
  </div>

  <div class="four columns slideshowcontainer">
    <div class="foto slideshow">
      @foreach(var p in ViewBag.Photos)
      {
        <div class="fotocontainer">
          <img src="@p.Url" />
        </div>
      }
    </div>
  </div>

  <div class="four columns">
    
  <div class="twelve columns locaties">
    <p>Onze gemeente komt samen op twee locaties.</p>
    <p>In Baarn op de Adelheidlaan 8.</p>
    <p>In Bunschoten op de Plecht 1.</p>
    <p>De samenkomsten zijn zondag om 9:45 uur.</p>

    
    @*<span title="Adelheidlaan 8, Baarn" class="baarn marker has-tip tip-right" data-width="150"></span>
    <span class="arrow baarn"></span>
    <span title="Oostwende college, Plecht 1, Bunschoten" class="bunschoten marker has-tip tip-left" data-width="150"></span>
    <span class="arrow bunschoten"></span>*@
  </div>
  </div>

</div>

<div class="row map" style="display: none;">
</div>

