@using StackExchange.Profiling;
@using System.Globalization;

<div class="row">

  <div class="twelve columns banner">
    <div>Onze gemeente wil een plek zijn waar</div>
    <div><span class="large">God de Vader</span>,</div>
    <div><span class="large">Jezus Christus de Zoon</span> </div>
    <div>en de <span class="large">Heilige Geest</span> centraal staan. </div>
  </div>
</div>

<div class="row aankondigingen">
  <div class="ten columns" id="banners">

    <div class="banneritem">
      <p>In verband met de verbouwing is er 1 december geen dienst in Baarn.</p>
      <p>U bent welkom in Bunschoten, om 9:45 uur in het Oostwende college.</p>
    </div>

  </div>
</div>

<div class="row locatiessmall">
  <div class="twelve columns">
    <p>Onze gemeente komt samen op twee locaties. In Baarn op de Adelheidlaan 8 en in Bunschoten op Plecht 1 in het Oostwende college. De samenkomsten zijn zondagmorgen om 9:45 uur.</p>
  </div>
</div>

<div class="row zones">

  <div class="four columns agendacontainer">
    <div class="twelve columns agenda">
      <p class="titel"><a href="@Url.Action("Show", "Calendar")">wegwijzer</a></p>
      <ul>
        @foreach(var item in ViewBag.CalendarItems)
        {
          <li>@item.WhatForFrontPage
            <span title="@item.When.ToString("ddd d MMM H:mm", new CultureInfo("nl-NL")) uur - @item.Where">
              @item.When.ToString("ddd d MMM H:mm", new CultureInfo("nl-NL")) uur - @item.Where
            </span>
          </li>
        }
      </ul>
    </div>
  </div>

  <div class="four columns slideshowcontainer">
    <div class="foto slideshow">
      <div class="fotocontainer">
        <img src="@ViewBag.Photo.Url" />
      </div>
      @foreach(var p in ViewBag.Photos)
      {
        <div class="fotocontainer lazy" data-img="@p.Url">
        </div>
      }
    </div>
  </div>

  <div class="four columns locatiecontainer">

    <div class="twelve columns locaties">
      <p>Onze gemeente komt samen op twee locaties.</p>
      <p>In Baarn op de Adelheidlaan 8.</p>
      <p>In Bunschoten op de Plecht 1.</p>
      <p>De samenkomsten zijn zondag om 9:45 uur.</p>
    </div>
  </div>

</div>

<div class="row map" style="display: none;">
</div>

