@{
  ViewBag.Title = "Login";
}

<div class="row">
  <div class="six columns">
    @if(ViewBag.CurrentUser != null)
    {
          
      <form method="post" action="@Url.AbsoluteHttpsAction("Logout", "User")">
        <input type="submit" class="secondary small button" value="uitloggen" />
        <input type="hidden" name="referrer" value="@Url.Action("Show", "Index")" />
      </form>
      
      <hr />
      
      <form method="post" action="@Url.AbsoluteHttpsAction("StoreUpdate", "User")">
        <label>Uw nieuwe wachtwoord:</label>
        <input type="password" name="password" placeholder="nieuw wachtwoord"></input>
        <label>Herhaal uw wachtwoord:</label>
        <input type="password" name="password2" placeholder="herhaal wachtwoord"></input>
        <input type="submit" class="secondary small button" value="verander wachtwoord" />
        <input type="hidden" name="referrer" value="@Url.Action("Show", "Index")" />
      </form>
    }
    else
    {
      <form method="post" action="@Url.AbsoluteHttpsAction("Login", "User")">
        <label>Uw e-mailadres:</label>
        <input type="text" name="email" placeholder="e-mail adres"></input>
        <label>Uw wachtwoord:</label>
        <input type="password" name="password" placeholder="wachtwoord"></input>
        <input type="submit" class="secondary small button" value="inloggen"></input>
        <input type="hidden" name="referrer" value="@ViewBag.Referrer" />

        <input type="submit" name="reset" class="secondary small button reset" value="wachtwoord vergeten" />
      </form>
    }

    @if(!string.IsNullOrEmpty(ViewBag.Message as string))
    {
      <span class="error message">@ViewBag.Message</span>
    }

  </div>
</div>
