@{
  ViewBag.Title = "Kies een wachtwoord";
}

<div class="row">
  <div class="six columns">

    @if(ViewBag.Reason == "nieuw")
    {
      <p>Hier kunt u uw nieuwe wachtwoord kiezen voor uw account.
         Vul uw nieuwe wachtwoord tweemaal in en bevestig uw invoer. 
        Hierna kunt u met uw e-mailadres en nieuwe wachtwoord inloggen op de website.</p>
    }
    else
    {
      <p>U kunt hier uw wachtwoord aanpassen. Vul uw nieuwe wachtwoord tweemaal in en bevestig uw invoer. 
        Hierna kunt u met uw e-mailadres en nieuwe wachtwoord inloggen op de website.</p>
    }

    @if(!string.IsNullOrEmpty(ViewBag.Message as string))
    {
      <p>
        <span class="error message">@ViewBag.Message</span>
      </p>
    }

    <form method="post" action="@Url.Action("StoreUpdate", "User")">
      <label>Uw nieuwe wachtwoord:</label>
      <input type="password" name="password" placeholder="nieuw wachtwoord"></input>
      <label>Herhaal uw wachtwoord:</label>
      <input type="password" name="password2" placeholder="herhaal wachtwoord"></input>
      <input type="submit" class="secondary small button" value="verander wachtwoord" />
      <input type="hidden" name="referrer" value="@Url.Action("Show", "Index")" />
      <input type="hidden" name="token" value="@ViewBag.Token"></input>
      <input type="hidden" name="reason" value="@ViewBag.Reason"></input>
      @Html.AntiForgeryToken()
    </form>

  </div>
</div>
