@using System.Globalization;

<div class="row agendacontainer">
  @foreach(var month in ViewBag.CalendarMonths)
  {
    <div class="@(ViewBag.FirstMonth != null && month.ToString("MMyyyy") == ViewBag.FirstMonth.ToString("MMyyyy") ? "active" : "inactive") six columns" 
      data-sortkey="@(month.ToString("yyyyMM"))">
      <div class="twelve columns agenda">
        <p class="titel">@month.ToString("MMMM yyyy", new CultureInfo("nl-NL"))</p>
        <ul>
          @foreach(var item in ViewBag.CalendarItems[month])
          {
            <li class="@(item.When.Date < DateTime.Now.Date ? "history" : "future")">@item.What
              <span title="@item.When.ToString("ddd d MMM H:mm", new CultureInfo("nl-NL")) uur - @item.Where">
                @item.When.ToString("ddd d MMM H:mm", new CultureInfo("nl-NL")) uur - @item.Where
              </span>
            </li>
          }
        </ul>
      </div>
    </div>
  }
</div>
<div class="row">
  <div class="twelve columns">
    <div class="twelve columns agendaics">
      <p>Wilt u de agenda toevoegen aan Outlook, Google Calendar of uw Smartphone? Gebruik dan de volgende link:</p>
      <input type="text" value="@String.Concat("http://www.dereddingsark.nl", Url.RouteUrl("CalendarICS"))" />
    </div>
  </div>
</div>
