@using StackExchange.Profiling;
@using dereddingsarknl.Models;
@using System.Web.Optimization

<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <meta property="og:image" content="http://www.dereddingsark.nl/facebook.jpg"></meta>
  <meta property="og:title" content="@(string.IsNullOrEmpty(ViewBag.Title) ? "evangeliegemeente De Reddingsark" : ViewBag.Title)"></meta>
  <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri"></meta>
  <meta property="og:site_name" content="evangeliegemeente De Reddingsark"></meta>
  <meta property="og:type" content="Website"></meta>
  <meta property="og:description" content="@ViewBag.MetaDescription"></meta>

  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="evangelie, gemeente, de reddingsark, ark, christus, jezus, christen, christendom, baarn, bunschoten, amersfoort, adelheidlaan, oostwende college" />
  <meta name="description" content="evangeliegemeente de reddingsark" />

  <title>@ViewBag.Title @(string.IsNullOrEmpty(ViewBag.Title) ? "" : "|") evangeliegemeente De Reddingsark</title>
  
  @Styles.Render("~/Content/bundle_dereddingsark")

  <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="@Url.Content("~/Content/ie.min.css")">
  <![endif]-->

  @Scripts.Render("~/Scripts/bundle_modernizr")

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  @RenderSection("EndOfHead", required: false)

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7178740-1']);
    _gaq.push(['_setDomainName', 'dereddingsark.nl']);
    _gaq.push(['_trackPageview']);

    @if(ViewBag.CurrentUser != null)
    {
      @Html.Raw("    _gaq.push(['_setCustomVar', 2, 'LoggedIn', 'true', 1]);")
    }
    else
    {
      @Html.Raw("    _gaq.push(['_setCustomVar', 2, 'LoggedIn', 'false', 1]);")
    }

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
  <!-- @DateTime.Now.ToString() -->
</head>
<body>

  <!-- container -->
  <div class="container">

    <div class="row">
      <div class="five columns header" title="evangeliegemeente de reddingsark">
        <a href="@Url.Action("Show", "Index")" class="logoplaceholder"></a>
        <h2><a href="@Url.Action("Show", "Index")">de reddingsark</a></h2>
        <h5><a href="@Url.Action("Show", "Index")">evangeliegemeente</a></h5>
      </div>

      <div class="seven columns menu">

        <div class="menu-small-screen">
          <select class="menudropdown">
            <option value="@Url.Action("Show", "Index")">home</option>
            <option value="@Url.Action("Show", "About", new { partName = "" })" @(string.IsNullOrEmpty(@ViewBag.OverOns) ? "" : "selected=\"selected\"")>over ons</option>
            <option value="@Url.Action("Show", "Activities", new { partName = "" })" @(string.IsNullOrEmpty(@ViewBag.Activiteiten) ? "" : "selected=\"selected\"")>activiteiten</option>
            <option value="@Url.Action("Show", "Recordings")" @(string.IsNullOrEmpty(@ViewBag.Recordings) ? "" : "selected=\"selected\"")>audio</option>
            <option value="@Url.Action("Show", "Articles")" @(string.IsNullOrEmpty(@ViewBag.Artikelen) ? "" : "selected=\"selected\"")>artikelen</option>

            @if(ViewBag.CurrentUser != null)
            {
              <option value="@Url.Action("Show", "Intern")" @(string.IsNullOrEmpty(@ViewBag.Intern) ? "" : "selected=\"selected\"")>gemeente</option>
            }
          </select>
        </div>

        <ul class="menu-large-screen">
          <li class="overons @ViewBag.OverOns"><a href="@Url.Action("Show", "About", new { partName = "" })">over ons</a></li>
          <li class="activiteiten @ViewBag.Activiteiten"><a href="@Url.Action("Show", "Activities", new { partName = "" })">activiteiten</a></li>
          <li class="audio @ViewBag.Recordings""><a href="@Url.Action("Show", "Recordings")">audio</a></li>
          <li class="artikelen @ViewBag.Artikelen"><a href="@Url.Action("Show", "Articles")">artikelen</a></li>
          @if(ViewBag.CurrentUser != null)
          {
            <li class="intern @ViewBag.Intern"><a href="@Url.Action("Show", "Intern")">gemeente</a></li>
          }
        </ul>

        @if(ViewBag.CurrentUser != null)
        {
          <div class="gebruiker inactive open">
            <a href="@Url.AbsoluteHttpsAction("Login", "User")" class="icon">@ViewBag.CurrentUser.Name</a>
          </div>
          
          <div class="gebruiker active close">

            <form method="post" action="@Url.AbsoluteHttpsAction("Logout", "User")">
              <input type="submit" class="secondary small button" value="uitloggen" />
              <input type="hidden" name="referrer" value="@HttpContext.Current.Request.Url.AbsoluteUri" />
            </form>

            <hr />

            <form method="post" action="@Url.AbsoluteHttpsAction("StoreUpdate", "User")">
              @Html.AntiForgeryToken()
              <label>Uw nieuwe wachtwoord:</label>
              <input type="password" name="password" placeholder="nieuw wachtwoord"></input>
              <label>Herhaal uw wachtwoord:</label>
              <input type="password" name="password2" placeholder="herhaal wachtwoord"></input>
              <input type="submit" class="secondary small button" value="verander wachtwoord" />
              <input type="hidden" name="referrer" value="@HttpContext.Current.Request.Url.AbsoluteUri" />
            </form>

            <hr />

            <p>
              Is uw e-mailadres gewijzigd? Geef het door via het <a href="@Url.Action("Contact", "Index")">contactformulier</a>. 
              Uw gegevens worden dan overal gewijzigd.
            </p>

            <a href="@Url.AbsoluteHttpsAction("Login", "User")" class="icon">@ViewBag.CurrentUser.Name</a>
          </div>
        }
        else
        {
          <div class="inloggen inactive @(ViewBag.NotExpandLogin != null || string.IsNullOrEmpty(ViewBag.Message as string) ? "open" : "close")">
            <a href="@Url.AbsoluteHttpsAction("Login", "User")" class="icon">inloggen</a>
          </div>
          
          <div class="inloggen active @(ViewBag.NotExpandLogin == null && !string.IsNullOrEmpty(ViewBag.Message as string) ? "open" : "close")">

            <form method="post" action="@Url.AbsoluteHttpsAction("Login", "User")">
              <label>Uw e-mailadres:</label>
              <input type="text" name="email" placeholder="e-mail adres"></input>
              <label>Uw wachtwoord:</label>
              <input type="password" name="password" placeholder="wachtwoord"></input>
              <input type="submit" name="inloggen" class="secondary small button" value="inloggen"></input>
              <input type="hidden" name="referrer" value="@HttpContext.Current.Request.Url.AbsoluteUri" />

              <input type="submit" name="reset" class="secondary small button reset" value="wachtwoord vergeten" />
            </form>

            @if(!string.IsNullOrEmpty(ViewBag.Message as string))
            {
              <span class="error">@ViewBag.Message</span>
            }

            <hr />

            <p>
              Het inloggen op de website is voor vaste bezoekers. Wilt u ook inloggen op de website? Zorg dan dat uw gegevens bekend zijn
            bij de broederraad en vraag om inloggegevens.
            </p>

            <a href="@Url.AbsoluteHttpsAction("Login", "User")" class="icon">inloggen</a>
          </div>
        }
      </div>
    </div>

    @RenderBody()
  </div>
  <!-- container -->

  <div class="container footer">

    <div class="footer row">
      <div class="twelve columns">
        <p>
          <a href="@Url.Action("Contact", "Index")">contact</a>
          | <a href="http://www.facebook.com/jeugddienstendereddingsark" class="facebook" target="_blank">jeugddiensten op facebook</a>
          | <a href="http://www.twitter.com/dereddingsark" class="twitter" target="_blank">twitter</a>
      </div>
    </div>

  </div>

  <!-- Included JS Files -->
  @Scripts.Render("~/Scripts/bundle_dereddingsark")

  @RenderSection("EndOfBody", required: false)

  @if(ViewBag.IncludeProfiler != null && ViewBag.IncludeProfiler)
  {
    <!-- Start MiniProfiler-->
    @MiniProfiler.RenderIncludes();
    <!-- End MiniProfiler-->
 
  }

  @if(!string.IsNullOrEmpty(ViewBag.Message as string))
  {
    <!--  
       @ViewBag.Message
      -->
  }
</body>
</html>
