@using StackExchange.Profiling;
@using dereddingsarknl.Models;

<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="evangelie, gemeente, de reddingsark, ark, christus, jezus, christen, christendom, baarn, bunschoten, amersfoort, adelheidlaan, oostwende college" />
  <meta name="description" content="evangeliegemeente de reddingsark" />

  <title>@ViewBag.Title | evangeliegemeente de reddingsark</title>

  <link rel="stylesheet" href="@Url.Content("~/Content/foundation.css")">
  <link rel="stylesheet" href="@Url.Content("~/Content/app.css")">

  <link href="@Url.Content("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />

  <!--[if lt IE 9]>
    <link rel="stylesheet" href="stylesheets/ie.css">
  <![endif]-->

  <script src="@Url.Content("~/Scripts/modernizr.foundation.js")"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <!-- container -->
  <div class="container">

    <div class="row">
      <div class="five columns header" title="evangeliegemeente de reddingsark">
        <h2><a href="@Url.Action("Show", "Index")">de reddingsark</a></h2>
        <h5><a href="@Url.Action("Show", "Index")">evangeliegemeente</a></h5>
      </div>

      <div class="seven columns menu">
        <ul>
          <li class="overons @ViewBag.OverOns"><a href="@Url.Action("Show", "About", new { partName = "" })">over ons</a></li>
          <li class="activiteiten @ViewBag.Activiteiten"><a href="@Url.Action("Show", "Activities", new { partName = "" })">activiteiten</a></li>
          <li class="audio @ViewBag.Recordings""><a href="@Url.Action("Show", "Recordings")">audio</a></li>
          <li class="artikelen @ViewBag.Artikelen"><a href="@Url.Action("Show", "Articles")">artikelen</a></li>
          <li class="fotos @ViewBag.Fotos"><a href="@Url.Action("Show", "PhotoAlbums")">foto's</a></li>
          @if(ViewBag.CurrentUser != null)
          {
            <li class="intern @ViewBag.Intern"><a href="@Url.Action("Show", "Intern")">intern</a></li>
          }
        </ul>

        @if(ViewBag.CurrentUser != null)
        {
          <div class="gebruiker inactive open">
            <a href="@Url.Action("Login", "User")" class="icon">@ViewBag.CurrentUser.Name</a>
          </div>
          
          <div class="gebruiker active close">

            <form method="post" action="@Url.Action("Logout", "User")">
            <input type="submit" class="secondary small button" value="uitloggen" />
            <input type="hidden" name="referrer" value="@HttpContext.Current.Request.Url.AbsoluteUri" />
            </form>

            <hr />

            <form method="post" action="@Url.Action("StoreUpdate", "User")">
            <input type="password" name="password" placeholder="nieuw wachtwoord"></input>
            <input type="password" name="password2" placeholder="herhaal wachtwoord"></input>
            <input type="submit" class="secondary small button" value="verander wachtwoord" />
            <input type="hidden" name="referrer" value="@HttpContext.Current.Request.Url.AbsoluteUri" />
            </form>

            <hr />

            <p>
              Is uw e-mailadres gewijzigd? Geef het door via het <a href="@Url.Action("Contact", "Index")">contactformulier</a>. 
              Uw gegevens worden dan overal gewijzigd.
            </p>

            <a href="@Url.Action("Login", "User")" class="icon">@ViewBag.CurrentUser.Name</a>
          </div>
        }
        else
        {
          <div class="inloggen inactive @(string.IsNullOrEmpty(ViewBag.LoginMessage as string) ? "open" : "close")">
            <a href="@Url.Action("Login", "User")" class="icon">inloggen</a>
          </div>
          
          <div class="inloggen active @(!string.IsNullOrEmpty(ViewBag.LoginMessage as string) ? "open" : "close")">

            <form method="post" action="@Url.Action("Login", "User")">
            <input type="text" name="email" placeholder="e-mail adres"></input>
            <input type="password" name="password" placeholder="wachtwoord"></input>
            <input type="submit" name="inloggen" class="secondary small button" value="inloggen"></input>
            <input type="hidden" name="referrer" value="@HttpContext.Current.Request.Url.AbsoluteUri" />

            <input type="submit" name="reset" class="secondary small button reset" value="wachtwoord vergeten" />
            </form>

            @if(!string.IsNullOrEmpty(ViewBag.LoginMessage as string))
            {
              <span class="error">@ViewBag.LoginMessage</span>
            }

            <hr />

            <p>
              Het inloggen op de website is voor vaste bezoekers. Wilt u ook inloggen op de website? Zorg dan dat uw gegevens bekend zijn
            bij de broederraad en vraag om inloggegevens.
            </p>

            <a href="@Url.Action("Login", "User")" class="icon">inloggen</a>
          </div>
        }
      </div>
    </div>

    @RenderBody()
  </div>
  <!-- container -->

  <div class="container footer">

    <div class="footer row">
      <div class="twelve columns">
        <p>
          <a href="@Url.Action("Contact", "Index")">contact</a>
          | <a href="http://www.facebook.com/jeugddienstendereddingsark" class="facebook" target="_blank">jeugddiensten op facebook</a>
          | <a href="http://www.twitter.com/dereddingsark" class="twitter" target="_blank">twitter</a>
      </div>
    </div>

  </div>

  <!-- Included JS Files -->
  <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")"></script>
  <script src="@Url.Content("~/Scripts/jquery.reveal.js")"></script>
  <script src="@Url.Content("~/Scripts/jquery.orbit-1.4.0.js")"></script>
  <script src="@Url.Content("~/Scripts/jquery.customforms.js")"></script>
  <script src="@Url.Content("~/Scripts/jquery.placeholder.min.js")"></script>
  <script src="@Url.Content("~/Scripts/jquery.tooltips.js")"></script>
  <script src="@Url.Content("~/Scripts/app.js")"></script>

  @MiniProfiler.RenderIncludes()
</body>
</html>
