@using System.Globalization;
@{
  Layout = "";
}<?xml version="1.0" encoding="UTF-8" ?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:media="http://search.yahoo.com/mrss/" version="2.0">

  <channel>

    <title>evangeliegemeente de reddingsark - artikelen</title>
    <link>http://www.dereddingsark.nl/artikelen/feed</link>
    <language>nl-NL</language>
    <description>artikelen van samenkomsten en studies van de evangeliegemeente de reddingsark</description>
    <copyright>Copyright © 2012 evangeliegemeente de reddingsark</copyright>
    <managingEditor>website@dereddingsark.nl</managingEditor>
    <webMaster>website@dereddingsark.nl</webMaster>
    <rating>G</rating>
    <pubDate>@DateTime.UtcNow.ToString("r")</pubDate>
    <lastBuildDate>@DateTime.UtcNow.ToString("r")</lastBuildDate>
    <atom:link href="http://www.dereddingsark.nl/artikelen/feed" rel="self" type="application/rss+xml" />

        @foreach(var artikel in ViewBag.ArtikelList)
        {
          <item>
            <title>@artikel.Title</title>
            @("<link>")@Url.Action("Artikel", "Articles", new { alias = @artikel.Alias })@("</link>")
            <description><![CDATA[
              @Html.Raw(artikel.Content)
            ]]></description>
            <pubDate>@artikel.Added.ToUniversalTime().ToString("r")</pubDate>
            <guid isPermaLink="true">@Url.Action("Artikel", "Articles", new { alias = @artikel.Alias })</guid>
          </item>
        }

  </channel>
</rss>
