@using System.Globalization;
@using System.Linq;

<div class="row artikellist">
  <div class="twelve columns">
    <div class="eight columns artikel">
      <h3><a href="@Url.Action("Artikel", "Articles", new { alias = @ViewBag.NewestArtikel.Alias })">@ViewBag.NewestArtikel.Title</a> - @ViewBag.NewestArtikel.Added.ToString("d MMMM yyyy", new CultureInfo("nl-NL"))</h3>
      <div>
        @Html.Raw(ViewBag.NewestArtikel.Content)
      </div>
      <p><a href="@Url.Action("Artikel", "Articles", new { alias = @ViewBag.NewestArtikel.Alias })">lees verder...</a></p>
    </div>

    <div class="four columns">

      <div class="twelve columns artikel">
        <p>
          Onderstaande studies zijn verschenen in het contactblad van de reddingsark. 
        Eventuele vragen naar aanleiding van deze studies kunt u stellen via het <a href="@Url.Action("Contact", "Index")">contactformulier</a>.
        </p>
      </div>

      <div class="twelve columns submenucontainer">
        <ul class="submenu">
          <li>
            <a href="@Url.Action("Archief", "Articles")">Alle artikelen</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

@foreach(var artikel in ViewBag.ArtikelList)
{
  <div class="row artikellist">
    <div class="twelve columns">
      <div class="twelve columns artikel">
        <h3><a href="@Url.Action("Artikel", "Articles", new { alias = @artikel.Alias })">@artikel.Title</a> - @artikel.Added.ToString("d MMMM yyyy", new CultureInfo("nl-NL"))</h3>
        <div>
          @Html.Raw(artikel.Content)
        </div>
        <p><a href="@Url.Action("Artikel", "Articles", new { alias = @artikel.Alias })">lees verder...</a></p>
      </div>
    </div>
  </div>
}
