@using System.Globalization;
@{
  Layout = "";
}
<?xml version="1.0" encoding="UTF-8" ?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:media="http://search.yahoo.com/mrss/" version="2.0">

  <channel>

    <title>evangeliegemeente de reddingsark</title>
    <link>http://www.dereddingsark.nl/podcast</link>
    <language>nl-NL</language>
    <description>opnames van samenkomsten en studies van de evangeliegemeente De Reddingsark</description>
    <copyright>Copyright &#xA9; 2012 evangeliegemeente de reddingsark</copyright>
    <managingEditor>info@dereddingsark.nl (de reddingsark)</managingEditor>
    <webMaster>info@dereddingsark.nl (de reddingsark)</webMaster>
    <rating>G</rating>
    <pubDate>@ViewBag.PubDate.ToString("ddd, dd MMM yyyy HH:mm:ss Z")</pubDate>
    <lastBuildDate>@ViewBag.PubDate.ToString("ddd, dd MMM yyyy HH:mm:ss Z")</lastBuildDate>

    <atom:link href="http://www.dereddingsark.nl/podcast" rel="self" type="application/rss+xml" />

    <image>
      <url>http://www.dereddingsark.nl/podcast.jpg</url>
      <title>evangeliegemeente de reddingsark</title>
      <link>http://www.dereddingsark.nl/podcast</link>
      <width>144</width>
      <height>300</height>
      <description>opnames van samenkomsten en studies van de evangeliegemeente De Reddingsark</description>
    </image>

    <itunes:subtitle>samenkomsten, jeugddiensten, maranatha avonden, bijbelstudies</itunes:subtitle>
    <itunes:author>evangeliegemeente De Reddingsark</itunes:author>
    <itunes:block>yes</itunes:block>
    <itunes:explicit>clean</itunes:explicit>
    <itunes:keywords>reddingsark, evangelie, gemeente, kerk, jezus</itunes:keywords>
    <itunes:summary>opnames van samenkomsten en studies van de evangeliegemeente De Reddingsark</itunes:summary>
    
    <itunes:owner>
      <itunes:name>evangeliegemeente De Reddingsark</itunes:name>
      <itunes:email>info@dereddingsark.nl (de reddingsark)</itunes:email>
    </itunes:owner>
    <itunes:image href="http://www.dereddingsark.nl/podcast.jpg"/>
    <itunes:category text="Religion &amp; Spirituality">
      <itunes:category text="Christianity"/>
    </itunes:category>
    
        @foreach(var recording in ViewBag.RecordingList)
        {
          <item>
            <title>@recording.Title</title>
            <itunes:author>evangeliegemeente De Reddingsark</itunes:author>
            <itunes:subtitle></itunes:subtitle>
            <itunes:summary></itunes:summary>
            <description></description>
            <category>Christianity</category>
            <enclosure url="@recording.Url" length="10000" type="audio/mpeg"/>
            <guid>@recording.Url</guid>
            <pubDate>@recording.Date.ToString("ddd, dd MMM yyyy HH:mm:ss Z")</pubDate>
            @*<itunes:duration>00:45:00</itunes:duration>*@
            <itunes:explicit>clean</itunes:explicit>
            <itunes:keywords></itunes:keywords>

          </item>
        }

    </channel>
</rss>
