@using System.Globalization;
@using dereddingsarknl.Models;
@{
  Layout = "";
}
<?xml version="1.0" encoding="UTF-8" ?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:media="http://search.yahoo.com/mrss/" version="2.0">

  <channel>

    <title>evangeliegemeente De Reddingsark</title>
    <link>http://www.dereddingsark.nl</link>
    <language>nl</language>
    <description>Opnames van samenkomsten en studies van de evangeliegemeente De Reddingsark</description>
    <copyright>Copyright evangeliegemeente de reddingsark</copyright>
    
    <itunes:explicit>no</itunes:explicit>
    <media:rating>nonadult</media:rating>

    <pubDate>@ViewBag.PubDate.ToString("ddd, dd MMM yyyy HH:mm:ss Z")</pubDate>
    <lastBuildDate>@ViewBag.PubDate.ToString("ddd, dd MMM yyyy HH:mm:ss Z")</lastBuildDate>

    <atom:link href="http://www.dereddingsark.nl/podcast" rel="self" type="application/rss+xml" />
    
    <itunes:subtitle>Opnames van samenkomsten en studies van de evangeliegemeente De Reddingsark</itunes:subtitle>
    <itunes:keywords>reddingsark,evangelie,gemeente,kerk,God,Jezus</itunes:keywords>
    <itunes:summary>Evangeliegemeente De Reddingsark wil een plek zijn waar God de Vader, Jezus Christus de Zoon en de Heilige Geest centraal staan. Dit willen wij ook door de opnames van onze samenkomsten en studies uitdragen.</itunes:summary>
    
    <itunes:author>evangeliegemeente De Reddingsark</itunes:author>
    <media:credit role="author">evangeliegemeente De Reddingsark</media:credit>

    <itunes:image href="http://www.dereddingsark.nl/podcast.jpg"/>

    <itunes:category text="Religion &amp; Spirituality">
      <itunes:category text="Christianity"/>
    </itunes:category>
    
        @foreach(var recording in ViewBag.RecordingList)
        {
          <item>
            <title>@recording.Title</title>
            <link>@Url.AbsoluteHttpAction("Single", "Recordings", new { alias = recording.Alias })</link>
            <itunes:author>evangeliegemeente De Reddingsark</itunes:author>
            <itunes:subtitle></itunes:subtitle>
            <itunes:summary></itunes:summary>
            <description></description>
            
            <dc:creator xmlns:dc="http://purl.org/dc/elements/1.1/">evangeliegemeente De Reddingsark</dc:creator>

            <enclosure url="@recording.Url" length="10000" type="audio/mpeg"/>
            <media:content url="@recording.Url" fileSize="10000" type="audio/mpeg" />

            <guid>@recording.Url</guid>
            <pubDate>@recording.Date.ToString("ddd, dd MMM yyyy HH:mm:ss Z")</pubDate>
            @*<itunes:duration>00:45:00</itunes:duration>*@
            <itunes:explicit>no</itunes:explicit>
            <itunes:keywords></itunes:keywords>
          </item>
        }

    </channel>
</rss>
