@using System.Globalization;
@using dereddingsarknl.Extensions;

<div class="twelve columns audioplayer">

  <audio id="player"></audio>

  <div class="progress">
    <div class="info"></div>
    <div class="bar"></div>
  </div>
  <div class="stop" title="stoppen"></div>
  <div class="play" title="afspelen"></div>
  <a href="#" target="_blank" title="downloaden"></a>
</div>

<div class="row">
  <div class="twelve columns">
    <div class="twelve columns podcast">
      <p>
        Onze opnames automatisch downloaden?
      Je vindt ons in <a href="https://itunes.apple.com/nl/podcast/evangeliegemeente-reddingsark/id585690963?l=en">iTunes</a> of gebruik
      de <a href="@Url.AbsoluteHttpAction("Podcast", "Recordings")">podcast</a> link.
      </p>
    </div>
  </div>
</div>

@foreach(var month in ViewBag.RecordingMonths)
{
  <div class="row recordingheader">
    <div class="twelve columns">
      <p>@month.ToString("MMMM yyyy", new CultureInfo("nl-NL"))</p>
    </div>
  </div>
  
  <div class="row recordinggroup">
    @foreach(var recording in ViewBag.RecordingList[month])
    {  
      <div class="four columns" data-cat="@recording.Category">
        <div class="recordingpointer"></div>
        <div class="twelve columns recording">
          <ul>
            <li class="audio"><a href="@recording.Url" target="_blank">@recording.Title</a>
              <span>@recording.Date.ToString("ddd d MMM yyyy H:mm", new CultureInfo("nl-NL")) - @recording.Category</span>
            </li>
          </ul>
        </div>
      </div>
    }
  </div>

}
