@using System.Globalization;

<div class="twelve columns audioplayer">

  <audio id="player"></audio>

  <div class="progress">
    <div class="info"></div>
    <div class="bar"></div>
  </div>
  <div class="stop" title="stoppen"></div>
  <div class="play" title="afspelen"></div>
  <a href="#" target="_blank" title="downloaden"></a>
</div>

<div class="row recordinggroup">

  <div class="four columns" data-cat="@ViewBag.Recording.Category">
    <div class="recordingpointer"></div>
    <div class="twelve columns recording">
      <ul>
        <li class="audio"><a href="@ViewBag.Recording.Url" target="_blank">@ViewBag.Recording.Title</a>
          <span>@ViewBag.Recording.Date.ToString("ddd d MMM yyyy H:mm", new CultureInfo("nl-NL")) - @ViewBag.Recording.Category</span>
        </li>
      </ul>
    </div>
  </div>

</div>
